.write {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.titleInput {
  height: 3em;
  padding: 1em;
  font-family: "roboto";
  border: none;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background-color: white;
}
.textInput {
  padding: 1em;
  font-family: "roboto";
}
