.view {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 33em;
  padding: 1em;
  padding-top: 0.5em;
  width: 80%;
  border: 1px solid gray;
  border-top: 0;
}
.title {
  font-size: 1.3em;
  font-family: "roboto";
  margin-bottom: 0.2em;
  background-color: whitesmoke;
  width: 100%;
  padding: 0.2em;
}
.articleInfo {
  display: flex;
  flex-direction: row;
  font-family: "roboto";
  font-size: 0.8em;
  padding: 0.6em;
  padding-top: 0;
  padding-right: 0;
  height: 2em;
  padding-bottom: 0;
  border-bottom: 1px solid gray;
}
.nickname {
  flex-basis: 60%;
}
.userIcon {
  margin-right: 0.5em;
}
.articleSubInfo {
  display: flex;
  flex-direction: row;
  flex-basis: 40%;
  justify-content: flex-end;
}
.stars {
  margin-right: 2em;
}
.views {
  margin-right: 2em;
}
.date {
  padding-bottom: 2em;
  margin-right: 0.5em;
}
.text {
  width: 90%;
  min-height: 15em;
  padding: 0.5em;
}
.textPre {
  white-space: pre-wrap;
  font-family: "roboto";
}
.textDivider {
  border-top: 1px solid gray;
  padding-top: 1em;
}
.likeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.likeSectionText {
  margin-bottom: 0.7em;
  font-size: 1.3em;
  font-family: "doHyeon";
}
.star {
  outline: none;
  cursor: pointer;
  font-size: 2em;
  background-color: transparent;
  border: none;
  color: gray;
  transition: all 300ms ease;
}
.starClicked {
  color: green;
}
.star:hover {
  transform: scale(1.1);
}

.comment {
  background-color: white;
  width: 80%;
  border: 1px solid gray;
}

.editBtn,
.deleteBtn {
  cursor: pointer;
  background-color: transparent;
  border: 1.2px solid gray;
  padding: 0.5em 1em 0.5em 1em;
  margin-right: 1em;
}
.editBtn:hover,
.deleteBtn:hover {
  background-color: darkslategray;
  color: white;
}
.editIcon,
.deleteIcon {
  font-size: 1.2em;
  margin-right: 0.5em;
}

.alignPopUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.likePopUp {
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
  color: white;
  font-family: "doHyeon";
  font-size: 2.5em;
  position: absolute;
  z-index: 1;
  top: 50%;
  animation-name: beThere;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes beThere {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
