.discussCard {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 1em;
  margin-bottom: 1em;
}
.cardInfo {
  display: flex;
  flex-direction: row;
}
.userInfo {
  flex-basis: 8%;
  font-size: 0.8em;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}
.userIcon {
  margin-right: 0.5em;
  color: teal;
}
.cardDate {
  font-size: 0.8em;
  color: grey;
  flex-basis: 90%;
}
.deleteBtn {
  cursor: pointer;
  border: none;
  font-size: 1em;
  background-color: transparent;
  outline: none;
}
.deleteBtn:hover {
  color: tomato;
}
.cardText {
  margin-top: 0.2em;
  font-size: 1.1em;
}
