.boardCard {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  font-size: 0.9em;
  padding: 0.5em 1em;
}
.boardCard:hover {
  background-color: wheat;
}

.cardNum {
  flex-basis: 10%;
}
.cardTitle {
  flex-basis: 50%;
}
.cardDate {
  flex-basis: 20%;
}
.userNickname {
  flex-basis: 10%;
}
.viewNum {
  flex-basis: 5%;
}
.stars {
  flex-basis: 5%;
}
