a {
  text-decoration: none;
  color: black;
}
.boardCardList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  min-height: 50em;
  background-color: white;
  font-size: 0.9em;
  padding: 1em;
  padding-top: 0.5em;
  border: 1px solid gray;
  border-top: 0;
  margin-top: 0;
}
.board {
  min-height: 40em;
  padding: 2em;
  padding-top: 6em;
}
.boardHeader {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
  padding-top: 0.5em;
  border: 1px solid gray;
  border-bottom: 0;
}

.boardTitle {
  font-size: 2em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0.2em 0.5em 0 0.5em;
  font-family: "doHyeon";
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}
.headerBtns {
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0.2em 0.5em 0 0.5em;
}
.boardTitleIcon {
  margin-right: 0.3em;
  font-size: 0.85em;
}

.headerDivider {
  border-bottom: 1px solid gray;
  height: 3em;
  width: 97%;
  margin: auto;
}
.index {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid gray;
  padding: 0.5em 1em 0.5em 0.5em;
  font-size: 0.9em;
  background-color: whitesmoke;
}

.boardBtn {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.writeBtn {
  cursor: pointer;
  font-family: "roboto";
  background-color: transparent;
  border: 1px solid gray;
  padding: 0.2em 0.5em 0.2em 0.5em;
}
.writeIcon {
  margin-right: 0.4em;
}
.pages {
  height: 2em;
  background-color: black;
}

.cardDate {
  flex-basis: 20%;
}
.cardNum {
  flex-basis: 10%;
  margin-right: 0.2em;
}
.cardTitle {
  flex-basis: 50%;
}
.cardAuthor {
  flex-basis: 10%;
}
.cardViews {
  flex-basis: 5%;
}
.cardStar {
  flex-basis: 5%;
}
