.loginHeader {
  display: flex;
  align-items: center;
  min-height: 3em;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 1.5em 0 1.5em;
  width: 100%;
  position: fixed;
}
.logo {
  width: 5em;
  height: 5em;
}
.headerBtns {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.headerAboutBtn,
.headerSignUpBtn {
  cursor: pointer;
  border: none;
  font-family: "nanumMyeongjo";
  font-size: 1.2em;
  padding: 0.5em;
  font-weight: bold;
  transition: all 300ms ease;
  background-color: transparent;
  outline: none;
  margin-left: 2em;
  border-bottom: 2px solid transparent;
}
.headerSignUpBtn {
  border-bottom: 2px solid gray;
}
.headerAboutBtn:hover,
.headerSignUpBtn:hover {
  background-color: wheat;
}

.container {
  min-height: 140em;
  background-image: url("../../common/img/background_seoul.jpg");
  background-size: cover;
  background-position-y: -20em;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 60em;
  background: rgba(0, 0, 0, 0.4);
}
.title {
  color: white;
  font-family: "doHyeon";
  font-size: 5em;
  border-bottom: 3px solid white;
  margin-top: 3.5em;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginTitle {
  margin-top: 1em;
  color: white;
  font-size: 2em;
  font-family: "nanumMyeongjo";
}

.googleLogin,
.githubLogin {
  cursor: pointer;
  margin-top: 1em;
  margin-right: 1em;
  width: 7em;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-family: "nanumMyeongjo";
  letter-spacing: 0.1em;
  background-color: white;
  color: black;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.22);
  transition: all 300ms ease;
}

.googleLogin:hover,
.githubLogin:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.googleIcon,
.githubIcon {
  font-size: 1em;
  margin-left: 0.5em;
}

.aboutPage {
  height: 70em;
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
}

.aboutPageTitle {
  font-family: "nanumMyeongjo";
  color: white;
  font-size: 6em;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
}

.signUpBg,
.emailLoginBg {
  display: flex;
  justify-content: center;
  padding-top: 9em;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 140em;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.7);
  animation-name: fade-in;
  animation-duration: 0.7s;
}
.signUp,
.emailLogin {
  width: 40%;
  height: 30em;
  background-color: white;
  border-radius: 1em;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
